body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
.img_first {
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  /* Short Hand -    background: url(../) no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_second {
  background-image: url(../images/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_third {
  background-image: url(../images/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  background: white;
  color: #333;
  padding: 10px 20px;
  font-size: 35px;
  letter-spacing: 8px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #f4f4ff;
  color: #666;
  opacity: 0.8;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.text_allign .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
