body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}
.parallax {
  background-image: url('../images/landingPageImage.jpg');
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
h1 {
  text-align: center;
  color: firebrick;
  margin-top: 20px;
}
p {
  text-align: center;
  margin: 5px;
  padding: 10px;
  color: red;
}
button {
  margin-left: 48%;
  margin-bottom: 10px;
  background-color: yellow;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
#audioVideo {
  background-image: url(../images/img3.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
}
#audio {
  margin: 25% 0% 0% 25%;
}
#video {
  margin: 12% 0% 0% 10%;
}
